* {
    font-family: 'Franklin Gothic Medium';
    text-align: center;
}

body {
    background-color: rgb(192, 236, 255);
    background-image: url('pictures/movies.jpeg');
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: auto;
}

p {
    font-size: 25px;
}

.box {
    background-color: rgb(198, 198, 198);
    color: rgb(22, 76, 99);
    border: 5px solid ;
    margin-top: 100px;
    margin-bottom:100px;
    margin-right: 10%;
    margin-left: 10%;
    padding: 1% 5% 1% 5%;
    line-height: 2em;
    border-radius: 50px;
}

.panel {
    background-color: rgb(198, 198, 198);
    color: rgb(22, 76, 99);
    border: 5px solid ;
    margin-top: 100px;
    margin-bottom:100px;
    margin-right: 10%;
    margin-left: 10%;
    padding: 1% 5% 1% 5%;
    line-height: 1.5em;
}

.container {
    display:flex;
    width:auto;
    height: 100px;
    flex-wrap: wrap;
}

.panel {
    background-size: 0px;
    background-repeat: no-repeat;
    height: auto;
    border-radius: 50px;
    flex:1;
    position: relative;
    transition: flex 0.5 ease-in;
    color: rgb(22, 76, 99);
    cursor:pointer;
    margin: 10px;
    opacity: 0.85;
    padding: 5% 2% 5% 2%;
}

.panel.active {
    flex: 3;
    background-size: cover;
    background-position: center;
    opacity: 1;
    font-size: 25px
    
}


