* {
    font-family:fantasy;
    text-align: center;
}

body {
    background-color: rgb(192, 236, 255);
    background-image: url('pictures/movies.jpeg');
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: auto;
}

p {
    font-size: 25px;
}

.box {
    background-color: rgb(198, 198, 198);
    color: rgb(22, 76, 99);
    border: 5px solid ;
    margin-top: 100px;
    margin-bottom:100px;
    margin-right: 10%;
    margin-left: 10%;
    padding: 1% 5% 1% 5%;
    line-height: 2em;
    border-radius: 50px;
}

.container {
    display:flex;
    width:auto;
    height: 100px;
    flex-wrap: wrap;
}

.panel {
    background-color: rgb(198, 198, 198);
    color: rgb(22, 76, 99);
    border: 5px solid ;
    line-height: 1.5em;
    background-size: 0px;
    background-repeat: no-repeat;
    border-radius: 50px;
    flex: 2;
    position: relative;
    transition: flex 0.5 ease-in;
    color: rgb(22, 76, 99);
    cursor:zoom-in;
    margin: 30px;
    opacity: 0.85;
    padding: 5% 2% 5% 2%;
}

.panel.active {
    flex: 6;
    background-size: 50%;
    background-position: bottom;
    opacity: 1;
    font-size: 20px;
    padding: 5% 2% 200px 2%;
}